annotated-doc==0.0.4 ; python_version >= "3.11"
annotated-types==0.7.0 ; python_version >= "3.11"
anyio==4.12.1 ; python_version >= "3.11"
appnope==0.1.4 ; python_version >= "3.11" and platform_system == "Darwin"
argon2-cffi-bindings==25.1.0 ; python_version >= "3.11"
argon2-cffi==25.1.0 ; python_version >= "3.11"
arrow==1.4.0 ; python_version >= "3.11"
asttokens==3.0.1 ; python_version >= "3.11"
async-lru==2.1.0 ; python_version >= "3.11"
attrs==25.4.0 ; python_version >= "3.11"
babel==2.18.0 ; python_version >= "3.11"
beautifulsoup4==4.14.3 ; python_version >= "3.11"
bleach==6.3.0 ; python_version >= "3.11"
certifi==2026.1.4 ; python_version >= "3.11"
cffi==2.0.0 ; python_version >= "3.11"
charset-normalizer==3.4.4 ; python_version >= "3.11"
click==8.3.1 ; python_version >= "3.11"
cloudpickle==3.1.2 ; python_version >= "3.11"
colorama==0.4.6 ; (sys_platform == "win32" or platform_system == "Windows") and python_version >= "3.11"
comm==0.2.3 ; python_version >= "3.11"
contourpy==1.3.3 ; python_version >= "3.11"
coverage==7.13.4 ; python_version >= "3.11"
cycler==0.12.1 ; python_version >= "3.11"
debugpy==1.8.19 ; python_version >= "3.11"
decorator==5.2.1 ; python_version >= "3.11"
defusedxml==0.7.1 ; python_version >= "3.11"
executing==2.2.1 ; python_version >= "3.11"
fastapi==0.128.0 ; python_version >= "3.11"
fastjsonschema==2.21.2 ; python_version >= "3.11"
fonttools==4.61.1 ; python_version >= "3.11"
fqdn==1.4.0 ; python_version >= "3.14"
fqdn==1.5.1 ; python_version >= "3.11" and python_version < "3.14"
greenlet==3.3.1 ; python_version >= "3.11" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.16.0 ; python_version >= "3.11"
httpcore==1.0.9 ; python_version >= "3.11"
httpx==0.28.1 ; python_version >= "3.11"
idna==3.11 ; python_version >= "3.11"
iniconfig==2.3.0 ; python_version >= "3.11"
ipykernel==7.1.0 ; python_version >= "3.11"
ipython==8.37.0 ; python_version >= "3.11"
isoduration==20.11.0 ; python_version >= "3.11"
jedi==0.19.2 ; python_version >= "3.11"
jinja2==3.1.6 ; python_version >= "3.11"
joblib==1.5.3 ; python_version >= "3.11"
json5==0.13.0 ; python_version >= "3.11"
jsonpointer==3.0.0 ; python_version >= "3.11"
jsonschema-specifications==2025.9.1 ; python_version >= "3.11"
jsonschema==4.26.0 ; python_version >= "3.11"
jupyter-client==8.7.0 ; python_version >= "3.11"
jupyter-core==5.9.1 ; python_version >= "3.11"
jupyter-events==0.12.0 ; python_version >= "3.11"
jupyter-lsp==2.3.0 ; python_version >= "3.11"
jupyter-server-terminals==0.5.4 ; python_version >= "3.11"
jupyter-server==2.17.0 ; python_version >= "3.11"
jupyterlab-pygments==0.3.0 ; python_version >= "3.11"
jupyterlab-server==2.28.0 ; python_version >= "3.11"
jupyterlab==4.5.3 ; python_version >= "3.11"
kiwisolver==1.4.9 ; python_version >= "3.11"
lark==1.3.1 ; python_version >= "3.11"
llvmlite==0.46.0 ; python_version >= "3.11" and python_version < "3.14"
llvmlite==0.46.0b1 ; python_version >= "3.14"
markupsafe==3.0.3 ; python_version >= "3.11"
matplotlib-inline==0.2.1 ; python_version >= "3.11"
matplotlib==3.10.8 ; python_version >= "3.11"
mistune==3.2.0 ; python_version >= "3.11"
nbclient==0.10.4 ; python_version >= "3.11"
nbconvert==7.17.0 ; python_version >= "3.11"
nbformat==5.10.4 ; python_version >= "3.11"
nest-asyncio==1.6.0 ; python_version >= "3.11"
notebook-shim==0.2.4 ; python_version >= "3.11"
numba==0.63.0b1 ; python_version >= "3.14"
numba==0.63.1 ; python_version >= "3.11" and python_version < "3.14"
numpy==2.3.5 ; python_version >= "3.11"
overrides==7.7.0 ; python_version == "3.11"
packaging==25.0 ; python_version >= "3.11"
pandas==2.3.3 ; python_version >= "3.11"
pandocfilters==1.5.1 ; python_version >= "3.11"
parso==0.8.5 ; python_version >= "3.11"
pexpect==4.9.0 ; python_version >= "3.11" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==12.0.0 ; python_version >= "3.11"
platformdirs==4.5.1 ; python_version >= "3.11"
pluggy==1.6.0 ; python_version >= "3.11"
prometheus-client==0.24.1 ; python_version >= "3.11"
prompt-toolkit==3.0.52 ; python_version >= "3.11"
psutil==7.1.3 ; python_version >= "3.11"
psycopg2-binary==2.9.11 ; python_version >= "3.11"
ptyprocess==0.7.0 ; (sys_platform != "win32" and sys_platform != "emscripten" or os_name != "nt") and python_version >= "3.11"
pure-eval==0.2.3 ; python_version >= "3.11"
pycparser==2.23 ; python_version >= "3.11" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.11"
pydantic==2.12.5 ; python_version >= "3.11"
pygments==2.19.2 ; python_version >= "3.11"
pyparsing==3.2.5 ; python_version >= "3.11"
pytest-cov==7.0.0 ; python_version >= "3.11"
pytest==9.0.2 ; python_version >= "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.11"
python-json-logger==4.0.0 ; python_version >= "3.11"
pytz==2025.2 ; python_version >= "3.11"
pywinpty==3.0.3 ; python_version >= "3.11" and os_name == "nt"
pyyaml==6.0.3 ; python_version >= "3.11"
pyzmq==27.1.0 ; python_version >= "3.11"
referencing==0.37.0 ; python_version >= "3.11"
requests==2.32.5 ; python_version >= "3.11"
rfc3339-validator==0.1.4 ; python_version >= "3.11"
rfc3986-validator==0.1.1 ; python_version >= "3.11"
rfc3987-syntax==1.1.0 ; python_version >= "3.11"
rpds-py==0.30.0 ; python_version >= "3.11"
ruff==0.14.14 ; python_version >= "3.11"
scikit-learn==1.8.0 ; python_version >= "3.11"
scipy==1.16.3 ; python_version >= "3.11"
seaborn==0.13.2 ; python_version >= "3.11"
send2trash==2.1.0 ; python_version >= "3.11"
setuptools==80.10.2 ; python_version >= "3.11"
shap==0.50.0 ; python_version >= "3.11"
six==1.17.0 ; python_version >= "3.11"
slicer==0.0.8 ; python_version >= "3.11"
soupsieve==2.8.3 ; python_version >= "3.11"
sqlalchemy==2.0.46 ; python_version >= "3.11"
stack-data==0.6.3 ; python_version >= "3.11"
starlette==0.50.0 ; python_version >= "3.11"
terminado==0.18.1 ; python_version >= "3.11"
threadpoolctl==3.6.0 ; python_version >= "3.11"
tinycss2==1.4.0 ; python_version >= "3.11"
tornado==6.5.4 ; python_version >= "3.11"
tqdm==4.67.1 ; python_version >= "3.11"
traitlets==5.14.3 ; python_version >= "3.11"
typing-extensions==4.15.0 ; python_version >= "3.11"
typing-inspection==0.4.2 ; python_version >= "3.11"
tzdata==2025.3 ; python_version >= "3.11"
uri-template==1.3.0 ; python_version >= "3.11"
urllib3==2.6.3 ; python_version >= "3.11"
uvicorn==0.40.0 ; python_version >= "3.11"
wcwidth==0.2.14 ; python_version >= "3.11"
webcolors==25.10.0 ; python_version >= "3.11"
webencodings==0.5.1 ; python_version >= "3.11"
websocket-client==1.9.0 ; python_version >= "3.11"
